@model Towzin.Models.IndexViewModel
@{
    ViewBag.Title = "پروفایل من";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>تنظیمات</h4>
    <hr />
    <dl class="dl-horizontal" >
        <dt>پسورد:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("تغییر پسورد", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
                
    </dl>
</div>
